#product,#model2{width:1000px;float:left}
#product{font-size:0.7em;}
#page_footage{float: left;  }
#model { width:80%;float: left;}
#controlpanel { width:80%;float: left;}
#list-items{margin-right:0px;}
#modelmenu{ width:800px;  }
#page_footage_div2,#page_footage_div{float: left; position:relative; width:700px }
#quick_mem_add_div{float: left; position:relative; }
.quickinput_memadd{width:400px;}
 

 #product a.ui-button , #product  a.ui-button:visited, #product a.ui-button:hover{
	margin: 0px;
	 width: auto;
	height:auto;
	font-size: 1.5em;
	padding:0px;
	
}
#mem_add{width:800px;}
a.ui-button ,a.ui-button:visited,a.ui-button:hover{
	margin: 0px;
	width: 4.8em;
	height:2em;
	font-size: 1.5em;
	padding:0px;
	
}
.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a{
    color: #38c;
//    font-weight: 500;
}
.container {
  margin: 0 auto;
  min-width: 500px;
  width: 45%;
  text-align: left;
  color: #3b3b3b;
  //font-weight: bold;
}

form {
  outline: 0;
  height: 36px;
  margin-top: 5%;
  //border: 3px solid #3b3b3b;
}

input[type="text"] {
  outline: 0;
  width: 100%;
  height: 1.2em;
  border: none;
 	font-size: 1.3em;
 // font-weight: normal;
  padding-left: 10px;
}

.add {
  outline: 0;
  float: right;
  width: 34%;
  height: 36px;
  color: #fff;
  font-size: 2em;
  border: none;
  cursor: pointer;
  background-color: #3b3b3b;
}

ul {
  padding: 0;
  text-align: left;
  list-style: none;
}
li{
	padding: 0;
	text-align: right;
	font-size: 1.2em;
    list-style-position: inside;
}
hr {
  border-bottom: 0;
  margin: 15px 0;
}

input[type="checkbox"] { width: 30px; }



.remove {
  float: right;
  cursor: pointer;
}
.chgQty {
  
  cursor: pointer;
}
.completed { text-decoration: line-through; }

